<h1>Edit Employee</h1>

<form action="/employee/{{employee.id}}/edit" method="POST">
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" value="{{employee.name}}" required>
    </div>
    <br>
    <div>
        <label for="phone">Phone (format: dddd-dddd):</label>
        <input type="text" id="phone" name="phone" value="{{employee.phone}}" placeholder="1234-5678" required>
    </div>
    <br>
    <div>
        <label for="photo">Photo filename:</label>
        <input type="text" id="photo" name="photo" value="{{employee.photo}}">
    </div>
    <br>
    <button type="submit">Update Employee</button>
</form>

<br>
<a href="/">Cancel</a>
